:root {
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Crimson Pro' sans-serif;
    --main-text-color: #000000;
    --rubric-text-color: #5B6460;
    --addited-text-color: #FFFFFF;
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

